.container-form table{
    width: 70%;
}
.container-form td{
    padding-top: 1.5%;
}
.container-form input,
.container-form select{
    width: 100%;
    padding: 0.5em 0.5em;
    font-weight: bold;
}
.container-form select option{
    font-size: 1em;
    font-weight: bold;
}
.container-form input[type="submit"]{
    background: #145f9c;
    color:#fff;
    border: none;
}
.container-form input[type="submit"]:hover{
    background: #197ed1;
}
.boton{
    display: inline-block; 
}

.btn-block{
    background: linear-gradient(45deg, #0a487a,#197ed1);
    padding: .9%;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: all 1s;
    cursor: pointer;
}
.btn-block:hover{
    background: linear-gradient(45deg,#197ed1, #0a487a);
}
